.hero-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero-txt {
	width: 50%;
}

.hero-txt h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.hero-txt p {
	width: 60%;
	margin: 0 auto;
	font-family: "indie flower", cursive;
	font-size: 1.2rem;
	background: white;
	color: black;
	border: 2px solid black;
}

.hero-image-wrapper {
	width: 50%;
	height: auto;
	border: 14px solid black;
}

.hero-image {
	width: 100%;
	vertical-align: bottom;
}

.about-me,
.skills,
.featured-project,
.contact {
	margin: 4em auto;
	width: 90%;
	text-align: center;
}

.about-me {
	line-height: 1.7;
	text-align: left;
}

.about-me h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
