.component-container_skills {
	width: 100%;
	margin: 4rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2px;
	color: black;
}

.skill-section_skills {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.skill-section_skills h2 {
	width: 100%;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: left;
	color: #c3efe8;
}

.skills-grid {
	width: 100%;
	margin: 1rem auto 2.5rem;
}

.skill-card {
	width: 100%;
	max-width: 245px;
	height: 155px;
	perspective: 1000px;
	color: black;
	cursor: default;
}

.skill-card-front,
.skill-card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	transition: transform 0.6s;
	border-radius: 2px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background: #fff;
	box-shadow: 7px 7px 0px #437594;
}

.skill-card-front {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	transform: rotateY(0deg);
}

.skill-card-back {
	transform: rotateY(180deg);
	background: #f0f0f0;
}

.skill-card:hover .skill-card-front {
	transform: rotateY(-180deg);
}

.skill-card:hover .skill-card-back {
	transform: rotateY(0deg);
}

.skill-logo {
	width: 55px;
	height: 55px;
	filter: drop-shadow(3px 4px 1px #080c1581);
}

.skill-card h3 {
	margin: 15px 0 5px;
	font-size: 1.4em;
	letter-spacing: 1.1px;
	color: black;
}

.skill-card p {
	font-size: 0.9em;
	text-align: center;
}

.inprogress-section_skills {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.inprogress-section_skills h2 {
	width: 100%;
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: left;
	color: #c3efe8;
}

.skill-section_skills h2 {
	width: 100%;
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: left;
}

@media screen and (max-width: 768px) {
	.skill-card {
		width: 95%;
	}

	.skill-logo {
		width: 40px;
		height: 40px;
	}

	.skill-card h3 {
		margin: 10px 0 5px;
	}

	.skill-section_skills {
		margin-top: 1.5rem;
	}

	.component-container_skills {
		border-radius: 0;
	}

	.skill-card-front,
	.skill-card-back {
		padding: 5px;
	}
}

@media screen and (max-width: 540px) {
	.skills-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
		gap: 2rem !important;
		justify-items: center;
	}

	.skill-card {
		width: 90%;
		max-width: unset;
		height: 165px;
	}

	.skill-card-front {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 15px 10px;
	}

	.skill-logo {
		width: 60px;
		height: 60px;
	}

	.skill-card h3 {
		font-size: 1.6rem;
	}

	.skill-section_skills {
		margin-top: 1.2rem;
	}

	.component-container_skills {
		border-radius: 0;
	}

	.skill-card-back {
		padding: 5px 10px;
	}
}
